*.d
*.gcda
*.o
*.gcno
*.run
*.memcheck
*.massif
/abstract_factory_registry_test
/android_keymaster_messages_test
/android_keymaster_test
/authorization_set_test
/coverage.info
/coverage/
/hkdf_test
/hmac_test
/key_blob_test
/keymaster_enforcement_test
/trusty_keymaster_device_test
